@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply scroll-smooth;
  }
}

@layer components {
  .compareBtn {
    @apply inline-flex items-center rounded-lg border-2 px-3 py-2 text-center text-sm font-medium hover:bg-gray-800 hover:text-white focus:outline-none focus:ring-4 focus:ring-blue-300;
  }
}

svg.star-svg {
  display: inline;
}

.title_underline {
  position: relative;
  width: fit-content;
}

.title_underline::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -10px;
  height: 3px;
  width: 80%;
  background-color: rgb(37, 99, 235);
}
